<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.UploadMapper">

  <select id="getList" resultType="org.zerock.domain.UploadVO">
  select *from tbl_upload order by regdate desc
  </select>
  
  <insert id="insert">
  insert into tbl_upload (fullName) values (#{fullName})
  </insert>
  
  <delete id="delete">
  delete from tbl_upload where fullName=#{fullName}
  </delete>

</mapper>